/*descendenti*/

div p{
    color:blue;
    background: bisque;
} 

/*Copii directi*/
div>p{
    background: black;
}

/* Elemente adiacente*/
h1+div{
    background: red;
}
/*Frati generali*/
div~p .section{
    font: size 1.5em;
    background: aqua;
}
 /* Aplicam stylul la diferiti selectori*/
 div, p, a{
    background:lightsalmon;
 }