/* Box Model*/
*{
    box-sizing: border-box;
}

html{
box-sizing: border-box;
} 

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container {
     /*margin: 20px; /* Se aplica fiecarei margine*/
    /*margin: 0px 5px 0px 5px; /* Top Right Bottom Left*/
    /*margin: 0px 5px; /*Top-Bottom Right-Left*/
    /*margin-top: 30px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    width: 300px;
    height: 400px;
    padding: 50px;
    border: 5px solid blue;
 }

 .item {
    text-align: center;
    /*margin: 0 auto;/* Centreaza elementul*/
    width:50%;
    height: 50%;
 }