/*Pseudoclass*/
p:hover{
    color: red;
    font: size 2em;
}

div p:nth-child(3) {
    font-weight: bold;
}

div p:nth-child(4){
    font-weight: bold;
    color: lime;
}

/*Pseudoelements*/

p::first-line{
    color: blue;
}
p::first-letter{
    font-size: 2em;
    color:purple;
}

p::before{
  content: "🇷🇴"
}
p::after{
    content:"🇪🇦"
}
::placeholder{
    color:red;
}