/* Combination descendendants*/

div p{
    color: lightblue;
}
/* Fi diret*/
div > div{
    background: purple;
}
/* Elemente adiacente*/

div + section{
    background: fuchsia;
}

/* Fratii */
div ~ p {
    color: red;
}